:root {
  --primary: hsl(0, 0%, 17%);
  --secondary: hsl(0, 0%, 59%);
  --shadow: hsla(0, 0%, 59%, 0.29);
  --rounded: 12px;
  --background-mobile: 250px;
  --background-desktop: 190px;
  --padding-size: 1.25rem;
  --size-divider: 2px;
}
body {
  margin: 0;
}

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

.container-loader{
  background: #000000a6;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#0078a8 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}