/* @import './base.css'; */
:root {
  --primary: hsl(0, 0%, 17%);
  --secondary: hsl(0, 0%, 59%);
  --shadow: hsla(0, 0%, 59%, 0.29);
  --rounded: 12px;
  --background-mobile: 250px;
  --background-desktop: 190px;
  --padding-size: 1.25rem;
  --size-divider: 2px;
}
body {
  margin: 0;
}

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik-VariableFont_wght.ttf);
}
